@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}
body {
	counter-reset: heading;
	padding-top: 1em;
	padding-right: 1em;
	padding-bottom: 0em;
	padding-left: 1em;
	margin-bottom: 0em;
}
h1 {
	margin: 1px;
	font-size: 1.4em;
	font-weight: bold;
}
h2:before {
	content: counter(heading)". ";
	counter-increment: heading;
}
h2 {
	counter-reset: subheading;
	font-size: 1em;
	font-weight: bold;
	text-decoration: underline;
}
h3:before {
	content: counter(heading)"."counter(subheading)". ";
	counter-increment: subheading;
	margin-left: -2em;
	text-decoration: none;
}
h3 {
	font-size: 1em;
	font-weight: normal;
	margin-left: 2em;
	text-decoration: underline;
}
p {
	font-size: 1em;
	font-weight: normal;
	text-align: justify;
}
.indented_p {
	font-size: 1em;
	font-weight: normal;
	margin-left: 2em;
	text-align: justify;
}
table, td, th {
	border: 1px solid black;
	border-collapse: collapse;
}
th {
	font-size: 0.8em;
	font-weight: bold;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.fill_in_th {
	font-size: 0.8em;
	height: 1.3rem;
	background-color:F0F0F0;
}
td {
	font-size: 0.8em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.fill_in_td {
	font-size: 1.5em;
	height:1.9rem;
}
.kdlogo {
	height: 5em;
}
li {
	font-size: 1em;
}
small{
	color:gray;
	font-size: 0.6em;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
